.product-page-container {
	margin: 0 auto;
	max-width: 1680px;
	padding: 8px;
	.product-page-info {
		display: flex;
		gap: 0.5rem;
	}
	.product-page-product-name {
		font-weight: 600;
		font-size: 16px;
	}
	.product-page-display-info {
		margin-left: 10px;
		font-size: 12px;
		color: #878787;
	}
	.product-card-container {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		.card-container {
			flex: 1 1 300px;
			max-width: 340px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 0.5rem;
		}
		img {
			width: 100%;
		}
		.card-info {
			display: flex;
			flex-direction: column;
		}
		.card-brand-name {
			color: #878787;
			font-size: 14px;
			font-weight: 600;
		}
		.card-product-name {
			overflow: hidden;
			color: black;
			font-size: 14px;
		}
		.card-rating {
			line-height: normal;
			color: #fff;
			padding: 2px 4px 2px 6px;
			border-radius: 3px;
			font-weight: 500;
			font-size: 12px;
			background-color: #388e3c;
			width: max-content;
		}
		.card-price-info {
			display: flex;
			gap: 0.5rem;
			align-items: center;
		}
		.card-actual-price {
			padding: 0;
			font-weight: 600;
			color: #212121;
		}
		.card-original-price {
			text-decoration: line-through;
			font-size: 14px;
			color: #878787;
		}
		.card-percent-off {
			color: #388e3c;
			font-size: 13px;
			letter-spacing: -0.2px;
		}
		.card-container:hover {
			.card-product-name {
				color: #2874f0;
			}
		}
	}
}
